@if (Model != null)
{ 
<div>
	<h3 class="title" @ViewHelper.Edit(Model,"Title")>@Html.Raw(Model.Title ?? "")</h3>
	<div class="content">
		<div @ViewHelper.Edit(Model,"Site")>@Html.Raw(Model.Site ?? "")</div>
		<div @ViewHelper.Edit(Model,"HtmlBanner")>@Html.Raw(Model.HtmlBanner ?? "")</div>
	</div>
</div>
}