@model Kooboo.CMS.ModuleArea.Monitor.Models.ModuleInfo_Metadata
@{
    Layout = "~/Views/Shared/Site.cshtml";
    ViewBag.Title = "Settings".Localize();
}

@section Panel{
    <ul class="panel">
        <li>
            <a data-ajaxform="Setting">
                @Html.IconImage("save") @("Save".Localize())
            </a>
        </li>
        <li>
            <a data-ajaxform="Initialize">
                @Html.IconImage("reset") @("Initialize".Localize())
            </a>
        </li>
    </ul>
}

<div class="block common-form">
    <h1 class="title">@ViewBag.Title</h1>
    <form id="Initialize" method="post" action="@Url.Action("InitializeModule")" novalidate="novalidate">
        <input id="siteName" type="hidden" value="SampleSite" name="siteName">
    </form>
    <form id="Setting" method="post" action="" novalidate="novalidate">
        <div class="tabs">
            <ul class="tab-index clearfix">
                <li><a href="#custom">@("Custom Settings".Localize())</a>@Html.IconImage("arrow blue-down")</li>
                <li class="active"><a href="#basicInfo">@("Basic".Localize())</a>@Html.IconImage("arrow blue-down")</li>
                <li style="display:none"><a href="#settingsInfo">@("Settings".Localize())</a>@Html.IconImage("arrow blue-down")</li>
            </ul>
            <div class="tab-content active" id="basicInfo">
                <table>
                    <tbody>
                        @Html.HiddenFor(m => m.ModuleName)
                        @Html.DisplayFor(m => m.ModuleName)
                        @Html.DisplayFor(m => m.Version)
                        @Html.DisplayFor(m => m.KoobooCMSVersion)
                    </tbody>
                </table>
            </div>
            <div class="tab-content" id="settingsInfo" style="display:none">
                @Html.EditorFor(m => m.Settings)
            </div>
            <div class="tab-content" id="custom">
                
                    <table>
                        <tbody>
                            @Html.EditorFor(it=>it.EntryUrl)
                            @Html.EditorFor(it=>it.MaxDepth)
                            @Html.EditorFor(it=>it.MaxTimeTaken)
                            @Html.EditorFor(it=>it.CheckImage)
                            @Html.EditorFor(it=>it.CheckCss)
                            @Html.EditorFor(it=>it.CheckJavaScript)
                        </tbody>
                    </table>
                
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function () {
        $('.tabs').koobooTab();
    });
</script>
