@{
    ViewBag.Title = "Referrals";
    Layout = "~/Views/Shared/Site.cshtml";
}

<div class="topbar clearfix">
    <h1 class="title">@ViewBag.Title</h1>
</div>
<div id="monitor-statistic" class="clearfix">
    <div id="monitor_referrer" class="field">
        <h2>Referrals</h2>
        <div class="field-tabs">
            <a href="#referrer_day" class="on">Daily</a>
            <a href="#referrer_week">Weekly</a>
            <a href="#referrer_month">Monthly</a>
        </div>
        <div class="field-bodys">
            <div id="referrer_day" class="field-content"></div>
            <div id="referrer_week" class="field-content"></div>
            <div id="referrer_month" class="field-content"></div>
        </div>
    </div>
    <div id="monitor_referrerGroup" class="field tables">
        <h2>Referrals</h2>
        <div class="field-tabs">
            <a href="#referrerGroup_day" class="on">Daily</a>
            <a href="#referrerGroup_week">Weekly</a>
            <a href="#referrerGroup_month">Monthly</a>
        </div>
        <div class="field-bodys">
            <div id="referrerGroup_day" class="field-content "></div>
            <div id="referrerGroup_week" class="field-content "></div>
            <div id="referrerGroup_month" class="field-content "></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var noDataEle = $('<div class="tip-outer"><p class="status-tip">No data currently.</p></div>');
        var loadingEle = $('<div class="tip-outer"><p class="status-tip">Loading<b class="loading-img"></b></p></div>');
        $("#monitor_referrer").reportTab([function () {
            var cont = $(this), loaded = cont.data("loaded");
            if (loaded) {
                return false;
            }
            $.ajax({
                url: "@Url.Action("DailyReferrer", ViewContext.RequestContext.AllRouteValues())",
                type: "POST",
                dataType: "json",
                beforeSend: function () {
                    $('#referrer_day').empty().append(loadingEle.clone());
                }
            }).done(function (data) {
                if (data.length==0) {
                    $('#referrer_day').empty().append(noDataEle.clone());
                    return false;
                }
                var categories = [], totalData = [],height=100;
                for (var i = 0, j = data.length; i < j; i++) {
                    categories.push(data[i].Domain);
                    totalData.push({
                        name: data[i].Domain,
                        y: data[i].Total
                    });
                    height += 20;
                }

                $('#referrer_day').highcharts({
                    chart: {
                        height:height,
                        animation: false,
                        spacingTop: 0,
                        spacingBottom: 0,
                        spacingLeft: 0,
                        spacingRight: 5
                    },
                    title: {
                        text: null
                    },
                    xAxis: {
                        categories: categories,
                        title: {
                            text: null
                        },
                        labels: {
                            //x:0,
                            align: 'right',
                            style: {
                                color: '#000000'
                            }
                        }
                    },
                    yAxis: {
                        min: 0,
                        allowDecimals: false,
                        title: null,
                        labels: {
                            overflow: 'justify'
                        }
                    },
                    tooltip: {
                        valueSuffix: ' Times'
                    },
                    plotOptions: {
                        bar: {
                            animation: false,
                            colorByPoint: true,
                            pointWidth: 20,
                            colors: ['#2f7ed8'],//['#8bbc21', '#f28f43', '#2f7ed8', '#910000', '#1aadce', '#492970', '#0d233a'],
                            dataLabels: {
                                enabled: true,
                                align: 'right',
                                color: '#FFFFFF',
                                x: -10
                            },
                            pointPadding: 0.1,
                            groupPadding: 0
                        }
                    },
                    legend: {
                        enabled: false,
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'top',
                        x: 10,
                        y: 0,
                        floating: false,
                        borderWidth: 1,
                        backgroundColor: '#FFFFFF',
                        shadow: true
                    },
                    credits: {
                        enabled: false
                    },
                    series: [{
                        name: 'Referrer ranking',
                        type: 'bar',
                        data: totalData
                    }]
                });
            }).always(function () {
                cont.data("loaded", true);
            });
        }, function () {
            var cont = $(this), loaded = cont.data("loaded");
            if (loaded) {
                return false;
            }
            $.ajax({
                url: "@Url.Action("WeeklyReferrer", ViewContext.RequestContext.AllRouteValues())",
                type: "POST",
                dataType: "json",
                beforeSend: function () {
                    $('#referrer_week').empty().append(loadingEle.clone());
                }
            }).done(function (data) {
                if (data.length == 0) {
                    $('#referrer_week').empty().append(noDataEle.clone());
                    return false;
                }
                var categories = [], totalData = [],height=100;
                for (var i = 0, j = data.length; i < j; i++) {
                    categories.push(data[i].Domain);
                    totalData.push({
                        name: data[i].Domain,
                        y: data[i].Total
                    });
                    height += 20;
                }

                $('#referrer_week').highcharts({
                    chart: {
                        height:height,
                        animation: false,
                        spacingTop: 0,
                        spacingBottom: 0,
                        spacingLeft: 0,
                        spacingRight: 5
                    },
                    title: {
                        text: null
                    },
                    xAxis: {
                        categories: categories,
                        title: {
                            text: null
                        },
                        labels: {
                            //x:0,
                            align: 'right',
                            style: {
                                color: '#000000'
                            }
                        }
                    },
                    yAxis: {
                        min: 0,
                        allowDecimals: false,
                        title: null,
                        labels: {
                            overflow: 'justify'
                        }
                    },
                    tooltip: {
                        valueSuffix: ' Times'
                    },
                    plotOptions: {
                        bar: {
                            animation: false,
                            colorByPoint: true,
                            pointWidth: 20,
                            colors: ['#2f7ed8'],//['#8bbc21', '#f28f43', '#2f7ed8', '#910000', '#1aadce', '#492970', '#0d233a'],
                            dataLabels: {
                                enabled: true,
                                align: 'right',
                                color: '#FFFFFF',
                                x: -10
                            },
                            pointPadding: 0.1,
                            groupPadding: 0
                        }
                    },
                    legend: {
                        enabled: false,
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'top',
                        x: 10,
                        y: 0,
                        floating: false,
                        borderWidth: 1,
                        backgroundColor: '#FFFFFF',
                        shadow: true
                    },
                    credits: {
                        enabled: false
                    },
                    series: [{
                        name: 'Referrer ranking',
                        type: 'bar',
                        data: totalData
                    }]
                });
            }).always(function(){
                cont.data("loaded", true);
            });
        }, function () {
            var cont = $(this), loaded = cont.data("loaded");
            if (loaded) {
                return false;
            }
            $.ajax({
                url: "@Url.Action("MonthlyReferrer", ViewContext.RequestContext.AllRouteValues())",
                type: "POST",
                dataType: "json",
                beforeSend: function () {
                    $('#referrer_month').empty().append(loadingEle.clone());
                }
            }).done(function (data) {
                if (data.length == 0) {
                    $('#referrer_month').empty().append(noDataEle.clone());
                    return false;
                }
                var categories = [], totalData = [],height=100;
                for (var i = 0, j = data.length; i < j; i++) {
                    categories.push(data[i].Domain);
                    totalData.push({
                        name: data[i].Domain,
                        y: data[i].Total
                    });
                    height += 20;
                }
                $('#referrer_month').highcharts({
                    chart: {
                        height:height,
                        animation: false,
                        spacingTop: 0,
                        spacingBottom: 0,
                        spacingLeft: 0,
                        spacingRight: 5
                    },
                    title: {
                        text: null
                    },
                    xAxis: {
                        categories: categories,
                        title: {
                            text: null
                        },
                        labels: {
                            //x:0,
                            align: 'right',
                            style: {
                                color: '#000000'
                            }
                        }
                    },
                    yAxis: {
                        min: 0,
                        allowDecimals: false,
                        title: null,
                        labels: {
                            overflow: 'justify'
                        }
                    },
                    tooltip: {
                        valueSuffix: ' Times'
                    },
                    plotOptions: {
                        bar: {
                            animation: false,
                            colorByPoint: true,
                            pointWidth: 20,
                            colors: ['#2f7ed8'],//['#8bbc21', '#f28f43', '#2f7ed8', '#910000', '#1aadce', '#492970', '#0d233a'],
                            dataLabels: {
                                enabled: true,
                                align: 'right',
                                color: '#FFFFFF',
                                x: -10
                            },
                            pointPadding: 0.1,
                            groupPadding: 0
                        }
                    },
                    legend: {
                        enabled: false,
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'top',
                        x: 10,
                        y: 0,
                        floating: false,
                        borderWidth: 1,
                        backgroundColor: '#FFFFFF',
                        shadow: true
                    },
                    credits: {
                        enabled: false
                    },
                    series: [{
                        name: 'Referrer ranking',
                        type: 'bar',
                        data: totalData
                    }]
                });
            }).always(function(){
                cont.data("loaded", true);
            })
        }]);
        $("#monitor_referrerGroup").reportTab([function () {
            var cont = $(this), loaded = cont.data("loaded");
            if (loaded) {
                return false;
            }
            $.ajax({
                url: "@Url.Action("DailyReferrerGroup", ViewContext.RequestContext.AllRouteValues())",
                type: "POST",
                dataType: "html",
                beforeSend: function () {
                    $('#referrerGroup_day').empty().append(loadingEle.clone());
                }
            }).done(function (data) {
                if ($(data).find(".empty").length) {
                    $('#referrerGroup_day').empty().append(noDataEle.clone());
                    return false;
                }
                $('#referrerGroup_day').html(data);
            }).always(function(){
                cont.data("loaded", true);
            });
            $('#referrerGroup_day').on("click", ".pager-ajax-load a", function () {
                $.ajax({
                    url: this.href,
                    type: "POST",
                    dataType: "html",
                    beforeSend: function () {
                        $('#referrerGroup_day').empty().append(loadingEle.clone());
                    }
                }).done(function (data) {
                    $('#referrerGroup_day').html(data);
                });
                return false;
            });
        }, function () {
            var cont = $(this), loaded = cont.data("loaded");
            if (loaded) {
                return false;
            }
            $.ajax({
                url: "@Url.Action("WeeklyReferrerGroup", ViewContext.RequestContext.AllRouteValues())",
                type: "POST",
                dataType: "html",
                beforeSend: function () {
                    $('#referrerGroup_week').empty().append(loadingEle.clone());
                }
            }).done(function (data) {
                if ($(data).find(".empty").length) {
                    $('#referrerGroup_week').empty().append(noDataEle.clone());
                    return false;
                }
                $('#referrerGroup_week').html(data);
            }).always(function(){
                cont.data("loaded", true);
            });
            $('#referrerGroup_week').on("click", ".pager-ajax-load a", function () {
                $.ajax({
                    url: this.href,
                    type: "POST",
                    dataType: "html",
                    beforeSend: function () {
                        $('#referrerGroup_week').empty().append(loadingEle.clone());
                    }
                }).done(function (data) {
                    $('#referrerGroup_week').html(data);
                });
                return false;
            });
        },function () {
            var cont = $(this), loaded = cont.data("loaded");
            if (loaded) {
                return false;
            }
            $.ajax({
                url: "@Url.Action("MonthlyReferrerGroup", ViewContext.RequestContext.AllRouteValues())",
                type: "POST",
                dataType: "html",
                beforeSend: function () {
                    $('#referrerGroup_month').empty().append(loadingEle.clone());
                }
            }).done(function (data) {
                if ($(data).find(".empty").length) {
                    $('#referrerGroup_month').empty().append(noDataEle.clone());
                    return false;
                }
                $('#referrerGroup_month').html(data);
            }).always(function () {
                cont.data("loaded", true);
            });
            $("#referrerGroup_month").on("click", ".pager-ajax-load a", function () {
                $.ajax({
                    url: this.href,
                    type: "POST",
                    dataType: "html",
                    beforeSend: function () {
                        $('#referrerGroup_month').empty().append(loadingEle.clone());
                    }
                }).done(function (data) {
                    $('#referrerGroup_month').html(data);
                });
                return false;
            });
        }]);
    });
</script>
@section ScriptCSS{
    <script type="text/javascript" src="@Html.Raw(Url.Content("~/Areas/Monitor/Scripts/kooboo.communicator.js"))"></script>
    <script type="text/javascript" src="@Html.Raw(Url.Content("~/Areas/Monitor/Scripts/kooboo.module.monitor.js"))"></script>
    <script type="text/javascript" src="@Html.Raw(Url.Content("~/Areas/Monitor/Scripts/highcharts/js/highcharts.js"))"></script>
}